footer {
    text-align: right;
    background-color: #005092d0;
    font-size:21px;
    padding: 7px;
    color: #fff;
}

.access_media {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff15;
    margin: 0px 5px;
}